{% extends 'base.html' %}
{% block title %}Blog heading {% endblock title %}

{% block body %}

<div  class="container my-3 ">
<h2>Sports Article</h2>
{% if allposts|length < 1 %}
<p>We do not have any results to show :( !!!!!  <br> <a href="/blog/createblog">Write</a> your first blog here</p>
{% endif %}
{% for post in allposts %}
<div class="col-md-8 my-3 ">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Sports blog</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto">{{post.content| truncatechars:200}}</p>
          <a href="{{post.slug}}" class="stretched-link">Continue reading</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock body %}